body
{
	
	width:1024px;
	height:700px;
	margin:0 auto;
	background-color:#21243B;
	
}

h1
{
	text-align:center; 
color:#B8DBCE;
margin-top:20px;

}

p
{
	color:#B8DBCE;
	float:left;
	margin-left:80px;
	margin-right:200px;
	margin-top:-10px;
}